
:root {
    padding: env(SAFE-AREA-INSET-TOP, 10px) env(SAFE-AREA-INSET-RIGHT, 10px) env(SAFE-AREA-INSET-BOTTOM, 10px) env(SAFE-AREA-INSET-LEFT, 10px);
    
    /* System tokens */
    --md-sys-color-primary: #ffffff;
    --md-sys-color-background: #e4f4dc;
    --md-sys-color-on-primary: #000000;
    --md-sys-color-outline: #000000;
    --md-sys-color-surface-container-highest: #ffffff;
    --md-sys-shadow-elevation-2dp: 0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12),0px 3px 1px -2px rgba(0,0,0,0.2);
    
    /* Component tokens */ 
    --md-switch-handle-shape: 25px;
    --md-switch-track-shape: 25px;
    --md-switch-selected-handle-color: #000000;
    --md-switch-selected-hover-handle-color: #000000;
    --md-switch-selected-focus-handle-color: #000000;

    /* menu and notifications buttons */
    --md-filled-button-container-color: #ffffffe0;
    --md-filled-button-container-shadow-color: rgba(0,0,0,0);

    /* menu dropdown items background transparent*/
    --md-menu-container-color: #ffffffe0;

    --md-outlined-icon-button-container-color: #000000;
    --md-outlined-icon-button-outline-color: #000000;
    --md-outlined-icon-button-container-shape: 45px;
   
    --md-outlined-text-field-container-shape: 45px;
    --md-outlined-text-field-input-text-font: system-ui;
    --md-outlined-text-field-input-text-color: #000000;
    --md-outlined-text-field-focus-label-text-color: #000000;
    --md-outlined-text-field-hover-label-text-color: #000000;
    --md-outlined-text-field-focus-outline-color: #000000;
    
    --md-outlined-button-text-color: #000000;
    --md-outlined-button-label-text-color: #434343;
    --md-outlined-button-hover-label-text-color: var(--hover-color);
    --md-outlined-button-focus-label-text-color: #000000;
    --md-outlined-button-pressed-label-text-color: var(--pressed-color);
    
    --md-text-button-label-text-font: Times;
    --md-text-button-label-text-color: #000000;
    --md-text-button-hover-label-text-color: #000000;
    --md-text-button-focus-label-text-color: #000000;
    --md-text-button-pressed-label-text-color: var(--pressed-color);
    
    --md-filled-select-text-field-container-shape: 5px;
    --md-filled-select-text-field-container-color: #faf7f7;     
    --md-filled-select-text-field-input-text-color: #000000;
    --md-filled-select-text-field-input-text-font: system-ui;

    --md-filled-text-field-container-shape: 45px;
    --md-filled-text-field-container-color: #ffffffe0;  /* search bar backaground transparent */
    --md-filled-text-field-label-text-color: #9c9c9c;
    --md-filled-text-field-input-text-color: #000000;
    --md-filled-text-field-color-primary: #000000;
    --md-filled-text-field-active-indicator-color: rgba(0,0,0,0);
    --md-filled-text-field-hover-active-indicator-color: rgba(0,0,0,0);
    --md-filled-text-field-focus-active-indicator-color: rgba(0,0,0,0);
    --md-filled-text-field-focus-label-text-color: #000000;
    --md-filled-text-field-focus-caret-color: #000000;

    /* non-token variables */
    --webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
    --moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
    --box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.5);
    --border-radius: 1em;
    --border-radius-button: 50px;
    --border-radius-circle: 100%;
    --border-color: #4f4f4f;
    --margin: 10px;
    --padding: 10px;
    --gap: 10px;
    --hover-color: #606060;
    --pressed-color: #777777;
}

img {
    max-width: 100%;
    display: block;
  }

.body{
    background: var(--md-sys-color-background);
}

.header{

    text-align: center;
    display: block;
    position: fixed;
    /* client might want header position switched to absolute/relative */
    top: 20px;
    right: 20px;
    left: 10px;
    /* safe-area-inset-bottom: 20px; */
}

/* dropdown select container for input form */
md-filled-select::part(menu) { 
    --md-menu-container-color: var(--md-sys-color-primary);
    --md-menu-container-shape: var(--border-radius);
} 

.icons {
    position: relative;
    cursor: pointer;
    font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 24;
    border-radius: var(--border-radius-circle);
    padding: var(--padding);
    z-index: 999;
    /* opacity: 0.1;  */
    /* added opacity above */
    background: var(--md-sys-color-primary);
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

.search-bar{
    position: fixed; 
    right: 85px;  
    z-index: 990;
    width: 300px;
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: 45px;
    text-align: left;
}
input:focus::placeholder {
        color: transparent;
      
}

.menu-button{
    background: none;
    position: fixed;
    top: 27px;
    left: 17px;
    z-index: 998;
    border-radius: var(--border-radius-button);
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

.notification-button{ 
    z-index: 998;
    width: 65px;
    position: fixed;
    top: 27px;
    right: 17px;
    background: none;
    border-radius: var(--border-radius-button);
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

.h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.featured-content-container{
    background: var(--md-sys-color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--borderColor);
    border-radius: var(--border-radius);
}

.post-wrapper {
    background-color: var(--md-sys-color-background);
    border-radius: var(--border-radius);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns in desktop view */
}

.post{
    margin-top: 10px;
    border-radius: var(--border-radius);
    border: 5px solid var(--borderColor);
    margin: 5px;
    gap: var(--gap);
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

.post img{
    border-radius: 15px 15px 0px 0px;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview{
    background-color: var(--md-sys-color-primary);
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

.post-title{
    color:#000;
    margin:0
}

.post-intro{
    color: #4b5156;
    font-size: 14px;
}
.post-button{
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
    background-color: var(--md-sys-color-primary);
    border-radius: 50px;
    padding: 12px 22px 12px 22px;
    border: 1px solid black;

}
.post-button:hover{
    background-color: #ededed;
    color: #000000;
}
.post-button:active{
    background-color: #c5c5c5;
    color: #000000;
    transition-duration: 0.1;
}

.label {
    font-family: var(--md-text-button-label-text-font);
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.009375em;
    color: #000;
    text-align: center;
    text-decoration: underline;
}

#submit-form {
    border-radius: var(--border-radius);
    background-color: var(--md-sys-color-background);
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    --webkit-box-shadow: var(--webkit-box-shadow);
    -moz-box-shadow: var(--moz-box-shadow);
    box-shadow: var(--box-shadow);
}

#allergen-switch {
    border-radius: var(--border-radius);
}
.switch {
    background-color: red;
}

@media screen and (min-width: 601px){
    /* full screen mode is default */
}

@media screen and (max-width: 600px){
    .search-bar{
        top: 5px;
        left: 90px;  
    }
    .menu-button{
        top: 12px;
        left: 5px;
    }
    /* .search-button{
        top:10px; 
        right: 70px; 
    } */
    .notification-button{
        top: 12px;
        right: 5px;
    }
    .post-wrapper {
        grid-template-columns: repeat(2, 1fr); /* 2 columns in mobile view */
    }  
    .search-bar{
        width: 220px;
        right: -10px;
    }   
}

/* .search-button{
    position: relative;
    right: -75px;
    top: 8px;
    z-index: 998;
    width: 0px;
} */
/* dynamically open the search bar when the search icon is clicked */